---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404: Not Found">
  <div style={{ textAlign: 'center', padding: '4rem 0' }}>
    <h1>404: Not Found</h1>
    <p>You just hit a route that doesn't exist... the sadness.</p>
  </div>
</Layout> 